<%- include('../partials/header') %>

      <div class="starter-template">
        <h1>Escolha o seu número</h1>
        <p class="lead">Gere a tabuada de um número de 0 a 100.</p>
        <ul>
          <% numeros.map(i => { %>
            <li><a href="/tabuadas/do/<%= i %>">Tabuada do <%= i %></a></li>
          <% }) %>
        </ul>
      </div>

<%- include('../partials/footer') %>
